.btn-blue{

    color: white !important;
    background-color: #339CB9 !important;
    border-radius: 4px;
}

.btn-red{

    color: white !important;
    background-color: #D33B26 !important;
    border-radius: 4px;
}